<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./shared/head") %>

</head>
<body>
    
    <h2>Welcome To Refu'In</h2>
    
    <a href="/post/addnew"><h3>Add a post</h3></a>
    
    <div class="jasem-style">
        <!-- <div class="post-comment"> -->

            <% if (posts.length>0){ %>
                <% posts.forEach(post=>{ %>
                    <div>
                        <div class="post-comment">
                            <h2><%=post.UserId.Name %> Post</h2>
                            <h4><%= post.body %></h4>
                            <h6><%= post.create_at%></h6>
                            <a href="/post/<%= post._id %>">See More</a>
                
                        </div>
                   
                        <div class="post-comment">
                            <h2>Company Comment</h2>
            
                            <% if (post.comment.length>0){ %>
                                <% post.comment.forEach(comments=>{ %>
                                <p><%= comments.body %></p>
                        </div>    
                    </div>
    
                <% }) %>
                <%}  %>      
                <% }) %>
               
            <!-- </div> -->
            <%} else {%> 
                <h5>No Post On for Day</h5>
        
            <% } %>
    </div>

</body>

<%- include("./shared/footer") %>

</html>