<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./shared/head") %>

</head>
<body>
    
    <h2>Welcome To RefuIn</h2>
    
    <a href="/post/addnew"><h3>Add a post</h3></a>
    <div class="post">
        <% if (posts.length>0){ %>
            <% posts.forEach(post=>{ %>
        <div>
            <h4><%= post.body %></h4>
            <h6><%= post.create_at%></h6>
            <a href="/post/<%= post._id %>">See More</a>
       
           
        <% if (post.comment.length>0){ %>
            <% post.comment.forEach(comments=>{ %>
                <div >
            <p><%= comments.body %></p>
            </div>
            <% }) %>
            <%}  %>      
            <% }) %>
           
        </div>
        <%} else {%> 
            <h5>No Post On for Day</h5>
    
        <% } %>
</body>
<footer>
    <hr>
    <div class="footer-logo">
        <img src="../media/logo-refuin.png" alt="footer">
        <p> &copy; 2023 Refu'In copy write , MatrixMaster, Rotterdam , The Netherlands </p>
    </div>
</footer>
</html>